<div class="card my-5">
  <div class="card-body">

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">


      <tr>
        <th scope="col">
          <div class="wrapper">
            <div class="box header"><i aria-hidden="true" (click)="sortBy('ASC', 'id')" class="fa fa-sort-desc"></i></div>
            <div class="box sidebar">#</div>
            <div class="box content"><i class="fa fa-sort-asc" (click)="sortBy('DESC', 'id')" aria-hidden="true"></i></div>
          </div>
        </th>

        <th scope="col">
          <div class="wrapper">
            <div class="box header"><i aria-hidden="true" (click)="sortBy('ASC', 'userLogin')" class="fa fa-sort-desc"></i></div>
            <div class="box sidebar">Login</div>
            <div class="box content"><i class="fa fa-sort-asc" (click)="sortBy('DESC', 'userLogin')" aria-hidden="true"></i></div>
          </div>
        </th>

        <th scope="col">
          <div class="wrapper">
            <div class="box header"><i aria-hidden="true" (click)="sortBy('ASC', 'userName')" class="fa fa-sort-desc"></i></div>
            <div class="box sidebar">Name</div>
            <div class="box content"><i class="fa fa-sort-asc" (click)="sortBy('DESC', 'userName')" aria-hidden="true"></i></div>
          </div>
        </th>

        <th scope="col">
          <div class="wrapper">
            <div class="box header"><i aria-hidden="true" (click)="sortBy('ASC', 'userSurname')" class="fa fa-sort-desc"></i></div>
            <div class="box sidebar">Surname</div>
            <div class="box content"><i class="fa fa-sort-asc" (click)="sortBy('DESC', 'userSurname')" aria-hidden="true"></i></div>
          </div>
        </th>

        <th>Password</th>

        <th scope="col">
          <div class="wrapper">
            <div class="box header"><i aria-hidden="true" (click)="sortBy('ASC', 'email')" class="fa fa-sort-desc"></i></div>
            <div class="box sidebar">Email</div>
            <div class="box content"><i class="fa fa-sort-asc" (click)="sortBy('DESC', 'email')" aria-hidden="true"></i></div>
          </div>
        </th>

        <th scope="col">
          <div class="wrapper">
            <div class="box header"><i aria-hidden="true" (click)="sortBy('ASC', 'age')" class="fa fa-sort-desc"></i></div>
            <div class="box sidebar">Age</div>
            <div class="box content"><i class="fa fa-sort-asc" (click)="sortBy('DESC', 'age')" aria-hidden="true"></i></div>
          </div>
        </th>
        <th scope="col">Action</th>
      </tr>
      </thead>


      <tbody>
      <td><input [(ngModel)]="idq" size="1"></td>
      <td><input [(ngModel)]="loginq" size="1"></td>
      <td><input [(ngModel)]="userNameq" size="1"></td>
      <td><input [(ngModel)]="userSurnameq" size="3"></td>
      <td align="center">---</td>
      <td><input [(ngModel)]="emailq" size="3"></td>
      <td><input [(ngModel)]="ageq" size="1"></td>
      <td><i (click)=cleanFilter() aria-hidden="true" class="fa fa-filter fa-2x"></i></td>
      <tr
        *ngFor="let user of users | search:'id':idq | search:'userLogin':loginq | search:'userName':userNameq | search:'userSurname':userSurnameq | search:'email':emailq | search:'age':ageq
               ">
        <td>{{ user.id }}</td>
        <td>{{ user.userLogin }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.userSurname }}</td>
        <td>{{ user.userPassword }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>{{ user.age }}</td>
        <td><i [routerLink]="'/edituser/'+user.id" class="fa fa-cog fa-2x"></i>
          <i (click)="deleteUser(user.id)" class="fa fa-trash-o fa-2x"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
