input {
  width: 100%;
}

.sidebar {
  grid-area: sidebar;

}

.content {
  grid-area: header;
}

.header {
  grid-area: content;
}


.wrapper {
  display: grid;
  //grid-gap: 10px;
  grid-template-areas:
    "....... header  header"
    "sidebar content content";
}

