<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" formControlName="userLogin"
               disabled
               class="form-control" id="login" name="login" placeholder="Enter your login"
               required >
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="userName"
               class="form-control" id="name" name="name" placeholder="Enter your name"
               required >
        <span *ngIf="nameField.hasError('required')" >Name is required</span>
        <span *ngIf="nameField.hasError('minlength')">Name is too short</span>
        <span *ngIf="nameField.hasError('maxlength')">Name is too long</span>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" formControlName="userSurname"
               class="form-control" id="surname" name="surname" placeholder="Enter your surname"
               required >
        <span *ngIf="surnameField.hasError('required')">Surname is required</span>
        <span *ngIf="surnameField.hasError('minlength')">Surname is too short</span>
        <span *ngIf="surnameField.hasError('maxlength')">Surname is too long</span>
      </div>
      <div class="form-group">
        <label for="name">Password</label>
        <input type="text" formControlName="userPassword"
               disabled
               class="form-control" id="password" name="password" placeholder="Enter your password"
               required >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email"
               class="form-control" id="email" name="email" placeholder="Enter your email address"
               required>
        <span *ngIf="emailField.hasError('required')">Email is required</span>
        <span *ngIf="emailField.hasError('email')">Email is invalid</span>
      </div>

      <div class="form-group">
        <label for="name">Age</label>
        <input type="number" formControlName="age"
               class="form-control" id="age" name="age" placeholder="Enter your age"
               required >
        <span *ngIf="ageField.hasError('required')">Age is required</span>
        <span *ngIf="ageField.hasError('min')">Age is too low</span>
        <span *ngIf="ageField.hasError('max')">Age is too high</span>
      </div>

      <button type="submit" [disabled]="userForm.invalid" class="btn btn-info">Submit</button>
      <button (click)="backtoList()" class="btn btn-info">Cencal</button>
    </form>
  </div>
</div>
