<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <div class="form-group">
        <label for="login">Login</label>
        <input class="form-control" formControlName="userLogin"
               id="login" name="login" placeholder="Enter your login" type="text">
        <span *ngIf="loginField.hasError('required') && (loginField.dirty || loginField.touched)">Login is required</span>
        <span *ngIf="loginField.hasError('minlength')">Login is too short</span>
        <span *ngIf="loginField.hasError('maxlength')">Login is too long</span>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" formControlName="userName"
               id="name" name="name" placeholder="Enter your name" type="text">
        <span *ngIf="nameField.hasError('required') && (nameField.dirty || nameField.touched)">Name is required</span>
        <span *ngIf="nameField.hasError('minlength')">Name is too short</span>
        <span *ngIf="nameField.hasError('maxlength')">Name is too long</span>
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        <input class="form-control" formControlName="userSurname"
               id="surname" name="surname" placeholder="Enter your surname" type="text">
        <span *ngIf="surnameField.hasError('required') && (surnameField.dirty || surnameField.touched)">Surname is required</span>
        <span *ngIf="surnameField.hasError('minlength')">Surname is too short</span>
        <span *ngIf="surnameField.hasError('maxlength')">Surname is too long</span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" formControlName="userPassword"
               id="password" name="password"  placeholder="Enter your password" type="text">
        <span *ngIf="passwordField.hasError('required') && (passwordField.dirty || passwordField.touched)">Password is required</span>
        <span *ngIf="passwordField.hasError('minlength')">Password is too short</span>
        <span *ngIf="passwordField.hasError('maxlength')">Password is too long</span>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" formControlName="email"
               id="email" name="email" placeholder="Enter your email address" type="text">
        <span *ngIf="emailField.hasError('required') && (emailField.dirty || emailField.touched)">Email is required</span>
        <span *ngIf="emailField.hasError('email')">Email is invalid</span>
      </div>

      <div class="form-group">
        <label for="name">Age</label>

        <input class="form-control" formControlName="age"
               id="age" name="age" placeholder="Enter your age" required
               type="number">
        <span *ngIf="ageField.hasError('required') && (ageField.dirty || ageField.touched)">Age is required</span>
        <span *ngIf="ageField.hasError('min')">Age is too low</span>
        <span *ngIf="ageField.hasError('max')">Age is too high</span>
      </div>

      <button [disabled]="userForm.invalid" class="btn btn-info" type="submit">Submit</button>
      <button (click)="rand20User()" class="btn btn-info" type="button">Random 20 Users</button>
    </form>
  </div>
</div>
